* {
  box-sizing: border-box;
}

body {
  margin: 100;
  padding: 90;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,</.h1 colgroup
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

<body style="{
    background: firebrick;
}

.menu {
  display:flex;
  justify-content: space-around;
}
.hero img {
    height: 300px;  
}
.h1 {
  border: 2px solid powderblue;
}









